.booking-modal-container {
    .booking-modal-content {
        display: flex;
        flex-direction: column;
        padding: 20px;
        .booking-modal-header {
            .left {
                font-size: 16px;
                font-weight: 600;
                color: #333;
            }
            .right {
                float: right;
                font-size: 20px;
                cursor: pointer;
            }
        }

        .booking-modal-body {
            height: 100%;
        }

        .booking-modal-footer {
            display: flex;
            justify-content: flex-end;
            gap: 15px;
            margin-top: 24px;

            .btn-booking-cancel {
                border: 1px solid #ccc !important;
            }
        }
    }
}
